<h2>User info</h2>
  <div class="profile-container">
  <%= image_tag('sample-author1.jpg') %>
  <h3 class="profile-name"><%= @user.name %></h3>
  
</div>
<h2>New book</h2>
<%= form_with model:@book, local:true do |f| %>
  <h4>Title</h4>
  <div class><%= f.text_field :title %></div>
  <h4>Option</h4>
  <div class><%= f.text_area :body %></div>
  <div><%= f.submit 'Create Book' %></div>
<% end %>


<h2>Books</h2>

 <table>
  <% @users.each do |user| %>
  <% @books.each do |book| %>
    <tr>
      <td><%= user.profile_image_id %></td>
      <td><%= user.name %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      
    </tr>
  <% end %>
  <% end %>
 
</table>